.navbar-collapse .navbar-nav > li > a:hover,
/*.navbar-collapse .navbar-nav > li > a:focus,*/
.navbar-collapse .navbar-nav > .active > a:hover,
/*.navbar-collapse .navbar-nav > .active > a:focus,*/
.navbar-collapse .navbar-nav > .open > a {
    text-decoration: none;
    background-color: #3b818c;
}

.navbar-nav .dropdown-menu > li > a:hover,
/*.navbar-nav .dropdown-menu > li > a:focus,*/
.navbar-nav .dropdown-menu > .active > a:hover,
/*.navbar-nav .dropdown-menu > .active > a:focus,*/
.navbar-nav .dropdown-menu > .open >a {
    text-decoration: none;
    background-color: #3b818c;
}

.navbar-nav .dropdown-menu {
    background-color: #333;
}